<form #zipForm [formGroup]="form" (ngSubmit)="submitZipCode()">
<div class="well">
    <h2>Enter a zipcode:</h2>
    <input formControlName="zipCode" class="form-control" placeholder="Zipcode" type="text" id="addLocation">
    <br>
    <app-state-button [state]="operationState" (clicked)="submitZipCode()" [disabled]="form.invalid">
        <ng-template readyState>
            <div class="ready-button">Add location</div>
        </ng-template>
        <ng-template workingState>
            <div class="adding-button">
                <img src="assets/icons/loading.gif">
                Adding ...
            </div>
        </ng-template>
        <ng-template doneState>
            <div class="done-button">Done</div>
        </ng-template>
    </app-state-button>
</div>
</form>