<div class="well flex">
    <div>
        <h3>{{ weatherInfo?.location }}</h3>
        <h4>Current conditions: {{ getCurrentConditionText() | titlecase }}</h4>
        <h4>Temperatures today:</h4>
        <p>
            Current {{ weatherInfo?.temperatures?.current }}
            - Max {{ weatherInfo?.temperatures?.max }}
            - Min {{ weatherInfo?.temperatures?.min }}
        </p>
        <p>
            <a href="/forecast/95742">Show 5-day forecast for {{ weatherInfo?.location }}</a>
        </p>
    </div>
    <div>
        <span class="close" (click)="emitRemoveZipCode()">×</span>
        <img [src]="getWheatherImage()">
    </div>
</div>