<div class="well flex">
    <div>
        <h3>{{ weatherInfo?.location }}</h3>
        <h4>Current conditions: {{ weatherService.getConditionText(weatherInfo?.currentCondition) | titlecase }}</h4>
        <h4>Temperatures today:</h4>
        <p>
            Current {{ weatherInfo?.temperatures?.current }}ºC
            - Max {{ weatherInfo?.temperatures?.max }}ºC
            - Min {{ weatherInfo?.temperatures?.min }}ºC
        </p>
        <p>
            <a [routerLink]="getForecastUrlFor(weatherInfo.zipCode)">Show 5-day forecast for {{ weatherInfo?.location }}</a>
        </p>
    </div>
    <div>
        <span class="close" (click)="emitRemoveZipCode()">×</span>
        <img [src]="weatherService.getWheatherImage(weatherInfo?.currentCondition)">
    </div>
</div>