<div class="container-fluid">
    <app-zip-code-form (addedZipCode)="service.registerZipCode($event)" [operationState]="service.addZipState">
    </app-zip-code-form>
    <div class="error well" *ngIf="service.error | async">{{ service.error | async }}</div>
    <div class="loading" *ngIf="loadingState === 'working'">
        <img src="assets/icons/big-loading.gif">
    </div>
    <ng-container *ngIf="loadingState !== 'working'">
        <app-zip-code-weather-card [weatherInfo]="zipCodeWeatherInfo"
            *ngFor="let zipCodeWeatherInfo of service.zipCodesWeatherInfo | async"
            (removeZipCode)="service.removeZipCode(zipCodeWeatherInfo.zipCode)">
        </app-zip-code-weather-card>
    </ng-container>
</div>