<div class="autocomplete" style="width:300px;">
    <input class="form-control" #textInput type="text" [placeholder]="placeholder" (input)="showOrHideAutocompleteItems($event)"
        (keydown)="keyDownOnInput($event)" [disabled]="disabled">
    <div class="autocomplete-items" *ngIf="service.autocompleting">
        <div [class]="{ 'autocomplete-active': value === service.autoCompleteHighlightedItem }"
            *ngFor="let value of service.filteredValues" [innerHtml]="renderAutoCompleteItem(value)"
            (click)="select(value)"></div>
    </div>
</div>